<!--banner-area start-->
<!--
<div class="banner-area bg-1 overlay">
  <div class="container">
    <div class="row align-items-center height-800 pb-111">
      <div class="col-sm-12">
        <div class="banner-text text-center">
          <h2>The Garden Introducing</h2>
          <p class="mt-30">Enjoy wonderful day in your garden</p>
          <a class="venobox video-play" data-gall="gall-video" data-autoplay="true" data-vbtype="video" href="https://youtu.be/6rPPUmStKQ4">
            <i class="fa fa-play"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>-->
<!--banner-area end-->

<!--slider-area start-->
<div class="slider-area">
  <div class="container-fluid">
    <div class="slider-items arrow-none">
      <div class="single-slide bg-1">
        <div class="row height-800 align-items-center">
          <div class="col-lg-9 offset-lg-3 col-sm-12">
            <div class="banner-text style-3 text-black text-left mt-minus-58">
              <h2>Succulent <br /> Minimal Collections</h2>
              <p class="mt-35">It is a long established fact that a reader will be distracted by the readable <br />
                content of a page when looking at its layout. The point of using Lorem Ipsum</p>
              <a href="#" class="btn-common mt-40">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="single-slide bg-2 height-800">
        <div class="row height-800 align-items-center">
          <div class="col-sm-12">
            <div class="banner-text style-3 text-white text-center mt-minus-58">
              <h2>Your Home <br /> With a Beautiful Garden</h2>
              <p class="mt-35">It is a long established fact that a reader will be distracted by the readable <br />
                content of a page when looking at its layout. The point of using Lorem Ipsum</p>
              <a href="#" class="btn-common mt-40">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--slider-area end-->

<!--service-area start-->
<div class="service-area mt-minus-100 sm-mt-80">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="sin-service">
          <img src="assets/images/promo/1.jpg" alt="promo">
          <h3>Planting & Garden Care</h3>
          <p>Don't be distracted by criticism. Remember the only taste of success some people.</p>
          <a href="#" class="readmore">Read More</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="sin-service">
          <img src="assets/images/promo/2.jpg" alt="promo">
          <h3>Watering Your Garden</h3>
          <p>Don't be distracted by criticism. Remember the only taste of success some people.</p>
          <a href="#" class="readmore">Read More</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 d-lg-block d-md-none">
        <div class="sin-service">
          <img src="assets/images/promo/3.jpg" alt="promo">
          <h3>Design & Renovation</h3>
          <p>Don't be distracted by criticism. Remember the only taste of success some people.</p>
          <a href="#" class="readmore">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--service-area end-->

<!--about-area start-->
<div class="about-area mt-85 sm-mt-30">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 col-sm-12">
        <div class="section-title">
          <h2>Little About Us</h2>
          <p>The maram wildlife Trust’s effort to preserve the diversity of life on earth
            depends salary on the support of its members.
            When you join the maram wildlife trust today, you will be welcomed into a
            family of dedicated individuals committed to protecting earth’s biologically rich
            habitats.</p>
        </div>
      </div>
    </div>
    <div class="row mt-55 sm-mt-37 xs-mt-57">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="sin-service style-2">
          <i class="ti-clipboard"></i>
          <h3>License & Insurance</h3>
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="sin-service style-2">
          <i class="ti-truck"></i>
          <h3>License & Insurance</h3>
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="sin-service style-2">
          <i class="ti-cup"></i>
          <h3>License & Insurance</h3>
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="sin-service style-2">
          <i class="ti-comments"></i>
          <h3>License & Insurance</h3>
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="sin-service style-2">
          <i class="ti-calendar"></i>
          <h3>License & Insurance</h3>
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="sin-service style-2">
          <i class="ti-thumb-up"></i>
          <h3>License & Insurance</h3>
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--about-area end-->

<!--project-area start-->
<!--
<div class="project-area mt-40 sm-mt-minus-10">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2 col-sm-12">
        <div class="section-title text-center">
          <h2>Latest Projects</h2>
        </div>
      </div>
    </div>
    <div class="row mt-65 sm-mt-40">
      <div class="col-lg-3 col-sm-6 p-0">
        <div class="single-project">
          <div class="project-thumb">
            <img src="assets/images/projects/1.jpg" alt=""/>
          </div>
          <div class="project-desc">
            <a class="venobox" data-gall="myGallery" href="assets/images/projects/1.jpg"><i class="ti-fullscreen"></i></a>
            <h3>Stones In Fencing Embankments</h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 p-0">
        <div class="single-project">
          <div class="project-thumb">
            <img src="assets/images/projects/2.jpg" alt=""/>
          </div>
          <div class="project-desc">
            <a class="venobox" data-gall="myGallery" href="assets/images/projects/2.jpg"><i class="ti-fullscreen"></i></a>
            <h3>Stones In Fencing Embankments</h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 p-0">
        <div class="single-project">
          <div class="project-thumb">
            <img src="assets/images/projects/3.jpg" alt=""/>
          </div>
          <div class="project-desc">
            <a class="venobox" data-gall="myGallery" href="assets/images/projects/3.jpg"><i class="ti-fullscreen"></i></a>
            <h3>Stones In Fencing Embankments</h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 p-0">
        <div class="single-project">
          <div class="project-thumb">
            <img src="assets/images/projects/4.jpg" alt=""/>
          </div>
          <div class="project-desc">
            <a class="venobox" data-gall="myGallery" href="assets/images/projects/4.jpg"><i class="ti-fullscreen"></i></a>
            <h3>Stones In Fencing Embankments</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
<!--project-area end-->

<!--contact-form area-->
<!--
	<div class="contact-area bg-1 mt-83 sm-mt-40">
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2 col-sm-12">
					<div class="section-title">
						<h2>Start Your Project Now</h2>
					</div>
				</div>
			</div>
			<div class="row mt-32 sm-mt-2">
				<div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12">
					<div class="contact-form style-1 text-center">
						<form action="#" method="POST">
							<div class="row">
								<div class="col-sm-6">
									<input type="text" name="name" placeholder="Name" required/>
								</div>
								<div class="col-sm-6">
									<input type="text" name="phone" placeholder="Phone" required/>
								</div>
								<div class="col-sm-6">
									<input type="email" name="email" placeholder="Email" required/>
								</div>
								<div class="col-sm-6">
									<select>
										<option value="">Choose Your Service</option>
										<option value="">Lawn Care</option>
										<option value="">Garden Care</option>
										<option value="">Planting</option>
										<option value="">Landscape</option>
									</select>
								</div>
								<div class="col-sm-12">
									<input type="text" name="website" placeholder="Website" required/>
								</div>
								<div class="col-sm-12">
									<textarea name="message" placeholder="Message"></textarea>
								</div>
								<div class="col-sm-12">
									<button class="btn-common btn-border">Send messages</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div> -->
<!--contact-form end-->

<!--cta-area start-->
<div class="cta-area mt-100 sm-mt-80">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8">
        <div class="cta-text">
          <h3>Live help number <span>(+91) 944 555 3475 </span></h3>
          <p>Call Us Now When You Have Any Gardening Question.</p>
        </div>
      </div>
      <div class="col-md-4">
        <a href="#" class="btn-common cta-btn width-190 pull-right">Contact Now</a>
      </div>
    </div>
  </div>
</div>
<!--cta-area end-->

<!--blog-area start-->
<div class="blog-area mt-85 sm-mt-60">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <div class="section-title">
          <h2>Our Latest Blog</h2>
        </div>
      </div>
    </div>
    <div class="row mt-3 sm-mt-40">

      <div class="container">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let item of slides; let i = index">
            <div class="card col-md-11">
              <mat-card class="cardpointer" (click)="movetoparticularitem(item)">
                <img mat-card-image [src]="item.bfile_path" alt="" class="fill" />
                <div class="blog-desc">
                  <h3><a href="#">{{item.title}}</a></h3>
                  <p>{{item.description}}</p>
                  <a href="#/blogdetails" class="readmore">Read More</a>
                </div>
              </mat-card>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>

      <!-- <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="single-blog">
          <div class="blog-thumb">
            <a href="#"><img src="assets/images/blog/12.jpg" alt="blog-image"></a>
          </div>
          <div class="blog-desc">
            <h3><a href="#">Reason Behind Garden Design!</a></h3>
            <p>One of the most important parts of any healthy lifestyle, though, is a willingness to learn from those
              who’ve already been around for a bit.</p>
            <a href="#" class="readmore">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="single-blog">
          <div class="blog-thumb">
            <a href="#"><img src="assets/images/blog/15.jpg" alt="blog-image"></a>
          </div>
          <div class="blog-desc">
            <h3><a href="#">Reason Behind Garden Design!</a></h3>
            <p>One of the most important parts of any healthy lifestyle, though, is a willingness to learn from those
              who’ve already been around for a bit.</p>
            <a href="#" class="readmore">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-lg-block col-md-6 d-md-none col-sm-12">
        <div class="single-blog">
          <div class="blog-thumb">
            <a href="#"><img src="assets/images/blog/12.jpg" alt="blog-image"></a>
          </div>
          <div class="blog-desc">
            <h3><a href="#">Reason Behind Garden Design!</a></h3>
            <p>One of the most important parts of any healthy lifestyle, though, is a willingness to learn from those
              who’ve already been around for a bit.</p>
            <a href="#" class="readmore">Read More</a>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
<!--blog-area end-->

<!--testimonial-area start-->
<div class="testimonial-area bg-1 mt-62 sm-mt-30">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <div class="section-title text-center">
          <h2>What People Say</h2>
        </div>
      </div>
    </div>
    <div class="row mt-35">
      <div class="col-lg-10 offset-lg-1 col-md-12">
        <div class="testimonial-items carousel-one arrow-none">
          <div class="single-testimonial">
            <p>I wanted to mention that these days, when the opposite of good customer and tech support <br /> tends to
              be the norm, it’s always great having a team like you guys at The Garden! So, be sure <br /> that I’ll
              always spread the word about how good your product is and the extraordinary level of <br /> support that
              you provide any time there is any need for it.</p>
            <h4>Karthick</h4>
            <small>Erode</small>
          </div>
          <div class="single-testimonial">
            <p>I wanted to mention that these days, when the opposite of good customer and tech support <br /> tends to
              be the norm, it’s always great having a team like you guys at The Garden! So, be sure <br /> that I’ll
              always spread the word about how good your product is and the extraordinary level of <br /> support that
              you provide any time there is any need for it.</p>
            <h4>vijayakumar</h4>
            <small>Coimbatore</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--testimonial-area end-->