<div class="container-fluid">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide *ngFor="let item of slides; let i = index">
      <div class="card col-md-11">
        <mat-card class="cardpointer" (click)="movetoparticularitem(item)">
          <div>
            <img [src]="item.bfile_path" alt="" class="fill" />
          </div>
          <mat-card-content>
            <p>{{item.title}}</p>
            <a href="#" color="primary" class="waves-light" hidden>Read more</a>
          </mat-card-content>
        </mat-card>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>